@font-face {
  font-family : FontAwesome;
  font-style  : normal;
  font-weight : normal;
  src         : url("../fonts/fontawesome-webfont.eot");
  src         : url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
                url("../fonts/fontawesome-webfont.woff") format("woff"),
                url("../fonts/fontawesome-webfont.ttf") format("truetype"),
                url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
}

.fa:before {
  -webkit-font-smoothing : antialiased;
}

.clearfix {}

.clearfix:after,
.clearfix:before {
  content : "";
  display : table;
}

.clearfix:after {
  clear : both;
}

.fa:before {
  display         : inline-block;
  text-decoration : inherit;
  font-family     : FontAwesome;
  font-style      : normal;
  font-weight     : normal;
  line-height     : 1;
}

a .fa {
  display         : inline-block;
  text-decoration : inherit;
}

li .fa {
  display : inline-block;
}

li .fa-large:before,
li .fa-large:before {
  width : 1.875em;
}

ul.fas {
  margin-left     : 2em;
  text-indent     : -0.8em;
  list-style-type : none;
}

ul.fas li .fa {
  width : .8em;
}

ul.fas li .fa-large:before,
ul.fas li .fa-large:before {
  vertical-align : baseline;
}

.fa-book:before {
  content : "";
}

.icon-book:before {
  content : "";
}

.fa-caret-down:before {
  content : "";
}

.icon-caret-down:before {
  content : "";
}

.fa-caret-up:before {
  content : "";
}

.icon-caret-up:before {
  content : "";
}

.fa-caret-left:before {
  content : "";
}

.icon-caret-left:before {
  content : "";
}

.fa-caret-right:before {
  content : "";
}

.icon-caret-right:before {
  content : "";
}

.rst-versions {
  z-index     : 400;
  position    : fixed;
  bottom      : 0;
  left        : 0;
  width       : 300px;
  color       : #fcfcfc;
  background  : #1f1d1d;
  font-family : "Lato",
                "proxima-nova",
                "Helvetica Neue",
                Arial,
                sans-serif;
}

.rst-versions a {
  color           : #2980B9;
  text-decoration : none;
}

.rst-versions .rst-badge-small {
  display : none;
}

.rst-versions .rst-current-version {
  display          : block;
  padding          : 12px;
  color            : #27AE60;
  background-color : #272525;
  text-align       : right;
  font-size        : 90%;
  cursor           : pointer;
}

.rst-versions .rst-current-version:after,
.rst-versions .rst-current-version:before {
  content : "";
  display : table;
}

.rst-versions .rst-current-version:after {
  clear : both;
}

.rst-versions .rst-current-version .fa {
  color : #fcfcfc;
}

.rst-versions .rst-current-version .fa-book {
  float : left;
}

.rst-versions .rst-current-version .icon-book {
  float : left;
}

.rst-versions .rst-current-version.rst-out-of-date {
  color            : #fff;
  background-color : #E74C3C;
}

.rst-versions .rst-current-version.rst-active-old-version {
  color            : #000;
  background-color : #F1C40F;
}

.rst-versions.shift-up {
  height     : auto;
  max-height : 100%;
}

.rst-versions.shift-up .rst-other-versions {
  display : block;
}

.rst-versions .rst-other-versions {
  display   : none;
  padding   : 12px;
  color     : gray;
  font-size : 90%;
}

.rst-versions .rst-other-versions hr {
  display    : block;
  height     : 1px;
  margin     : 20px 0;
  padding    : 0;
  border     : 0;
  border-top : solid 1px #413d3d;
}

.rst-versions .rst-other-versions dd {
  display : inline-block;
  margin  : 0;
}

.rst-versions .rst-other-versions dd a {
  display : inline-block;
  padding : 6px;
  color   : #fcfcfc;
}

.rst-versions.rst-badge {
  right     : 20px;
  bottom    : 20px;
  left      : auto;
  width     : auto;
  max-width : 300px;
  border    : none;
}

.rst-versions.rst-badge .icon-book {
  float : none;
}

.rst-versions.rst-badge .fa-book {
  float : none;
}

.rst-versions.rst-badge.shift-up .rst-current-version {
  text-align : right;
}

.rst-versions.rst-badge.shift-up .rst-current-version .fa-book {
  float : left;
}

.rst-versions.rst-badge.shift-up .rst-current-version .icon-book {
  float : left;
}

.rst-versions.rst-badge .rst-current-version {
  display     : block;
  width       : auto;
  height      : 30px;
  padding     : 0 6px;
  text-align  : center;
  line-height : 30px;
}

@media
  screen
  and (max-width : 768px) {
  .rst-versions {
    display : none;
    width   : 85%;
  }

  .rst-versions.shift {
    display : block;
  }
}
